<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edycja klienta</title>
</head>
<body>

<form method="post" th:action="@{/customer/save}" th:object="${customer}">
    <input type="hidden" th:field="*{id}" placeholder="id"/></br>
    <input type="text" th:field="*{customerNumber}" placeholder="customerNumber"/></br>
    <input type="text" th:field="*{lastName}" placeholder="lastName"/></br>
    <input type="text" th:field="*{firstName}" placeholder="firstName"/></br>
    <input type="text" th:field="*{adress}" placeholder="adress"/></br>
    <input type="text" th:field="*{nip}" placeholder="nip"/></br>
    <input type="text" th:field="*{pesel}" placeholder="pesel"/></br>
    <input type="submit" value="OK">
</form>

</body>
</html>